* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../../image/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cont {
    position: absolute;
    right: 0%;
    top: 5%;
    width: 50vw;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

ul li {
    display: inline-flex;
    background-color: transparent;
    /* height:7vh; */
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 4vh;
    padding: 17px;
    font-size: medium;
    opacity: 1;
    background-color: transparent;
}

ul li a:hover {
    border-width: 10px;
    border-bottom: 1px solid white;
    color: white;
    font-size: large;
    transition: 0.5s ease;
    z-index: 0;
}

.logo img {
    position: absolute;
    left: 4%;
    top: 5%;
}

.line hr {
    border: 1px solid hsl(240, 1%, 19%);
    width: 38rem;
    position: absolute;
    top: 8%;
    left: 10%;
    opacity: 0.8;
}

.cont1 {
    position: absolute;
    right: 0%;
    top: 25%;
    width: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, -1);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: transparent(5px);
    position: absolute;
    left: 80%;
}

.cont1 ul li {
    display: inline-flex;
    background-color: transparent;
}

.cont1 ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 5vw;
    height: 2vh;
    font-size: medium;
    opacity: 1;
    background-color: transparent;
}

.cont1 ul li a:hover {
    border-width: 10px;
    border-bottom: 1px solid white;
    color: white;
    font-size: large;
    transition: 0.5s ease;
    z-index: 0;
}

.svg img {
    position: absolute;
    left: 10%;
    top: 30%;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        ;
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

h1 {
    color: white;
}

p {
    color: rgb(126, 123, 123);
    position: absolute;
    top: 43%;
    left: 55%;
    width: 30rem;
    height: 10vh;
    font-size: 25px;
    word-spacing: 10px;
}

span {
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 60px;
    width: 30px;
}

.cont1 ul li a :nth-child(1) {
    border-bottom: 1px solid white solid;
}

.line1 hr {
    border: 1px solid hsl(240, 100%, 99%);
    width: 30rem;
    position: absolute;
    top: 70%;
    left: 55%;
    opacity: 0.8;
}

h2 {
    font-size: small;
    position: absolute;
    top: 75%;
    left: 55%;
    color: rgb(172, 165, 165);
}

h2::after {
    content: " \A  225 mil. km";
    white-space: pre;
    font-size: 30px;
    color: rgb(255, 253, 253);
}

h3 {
    font-size: small;
    position: absolute;
    top: 75%;
    left: 75%;
    color: rgb(126, 123, 123);
}

h3::after {
    content: " \A 9 months";
    white-space: pre;
    font-size: 30px;
    color: WHITE;
}